@inherits LayoutComponentBase

<div class="root">
    <header>
        <div class="black top-bar">
        </div>
        <div class="white middle-top-bar">
            <div class="content">
                <TopMenu OnShowSidebar="ShowSidebar"></TopMenu>
            </div>
        </div>
    </header>
    <main>
        <div class="content flex-row">
            <div class="sidebar white" style="@DisplayStyle">
                <NavMenu SideBarShown="@_sideBarShown" OnHideSideBar="ShowSidebar"></NavMenu>
            </div>

            <div class="main padding-x">
                @Body
            </div>

            <div class="overlay" style="@DisplayStyle" @onclick="ShowSidebar">
            </div>
        </div>
    </main>

    <footer>
        <div class="content">
        </div>
    </footer>
</div>

@code {
    public string DisplayStyle = string.Empty;
    private bool _sideBarShown;

    public void ShowSidebar(MouseEventArgs e)
    {
        DisplayStyle = (DisplayStyle == string.Empty) ? "display: block;" : string.Empty;
        _sideBarShown = (!_sideBarShown);
    }
}









