@inherits LayoutComponentBase

<div class="root">
    <header>
        <div class="black topbar-top">
        </div>
        <div class="white topbar-bottom">
            <div class="content padding-x width-100">
                <TopMenu OnShowSidebar="ShowSidebar"></TopMenu>
            </div>
        </div>
    </header>
    <main class="content padding-x flex-row width-100">
        <div class="sidebar white border" style="@DisplayStyle">
            <NavMenu SideBarShown="@_sideBarShown" OnHideSideBar="ShowSidebar"></NavMenu>
        </div>

        <div class="width-100 padding-x">
            @Body
        </div>

        <div class="overlay" style="@DisplayStyle" @onclick="ShowSidebar">
        </div>
    </main>

    <footer>
        <div class="content width-100 padding-x">
        </div>
    </footer>
</div>

@code {
    public string DisplayStyle = string.Empty;
    private bool _sideBarShown;

    public void ShowSidebar(MouseEventArgs e)
    {
        DisplayStyle = (DisplayStyle == string.Empty) ? "display: block;" : string.Empty;
        _sideBarShown = (!_sideBarShown);
    }
}









