.nav-menu {
    display: block;
    overflow: hidden;
}

.nav-menu-close {
    display: flex;
    justify-content: end;
}

.nav-menu-close i {
    color: gray;
    font-size: 30px;
    font-weight: bold;
    align-self: end;
    cursor: pointer;
}
   
