<nav class="nav-menu">
    @if (SideBarShown)
    {
        <div class="nav-menu-close hover-to-black padding-x padding-y  ">
            <i class="fa fa-times "aria-hidden="true" @onclick="OnHideSideBar"></i>
        </div>
    }

    <NavMenuButton Icon="fa fa-folder-open" Href="products" Text="Products"></NavMenuButton>
    <NavMenuButton Icon="fa fa-credit-card" Href="checkout" Text="Checkout"></NavMenuButton>
    <NavMenuButton Icon="fa fa-user-plus" Href="register" Text="New User"></NavMenuButton>
    <NavMenuButton Icon="fa fa-user-circle"  Href="login" Text="Log In"></NavMenuButton>
    <NavMenuButton Icon="fa fa-user-md" Href="profile" Text="Profile"></NavMenuButton>
    
</nav>

@code {
    [Parameter] public bool SideBarShown { get; set; } = false;
    [Parameter] public EventCallback<MouseEventArgs> OnHideSideBar { get; set; }

}


