@page "/products"
@inject IProductService ProductService

<PageTitle>Products</PageTitle>
<PageHeading>Products</PageHeading>

<div class="product-flex-container">

    @if (_products == null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (var product in _products)
        {
            <ProductPreview Product="product" />
        }  
    }
</div>

@code {

    private List<ProductDto>? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await ProductService.GetProducts();
    }
}

