* {
    box-sizing: border-box;
    margin: 0;
}

html {

    height: 100%;
    min-height: 100%;
}

body {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(242, 242, 242);
}

header {
    z-index: 4;
    position: sticky;
    top: 0;
}
footer {
    min-height: 10vh;
    background-color: black;
}

main {
    flex-grow: 1;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
}

hr {
    border: 1px solid #ededed;
    border-radius: 5px;
}

@media (min-width: 993px) {
    header {
        position: static;
    }

    .overlay {
        padding-left: 200px;
    }
    .overlay img {
        width: 80%;

    }
}
