* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}