
.border {
    /*border: 1px solid #d9d9d9;*/
    border: 1px solid #ededed;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}

.button-fit {
    width: fit-content;
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    background-color: rgb(76, 180, 76);
    color: white
}

.button-fit:hover {
        background-color: rgb(56, 160, 56);
    }

.container-center-verticaly {
    position: relative
}

.center-verticaly {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}

.validation-message {
    color: red;
}

.gray {
    background-color: rgb(242, 242, 242);
    color: black;
}

.red {
    color: red;
}

.hide-element {
    display: none;
}

.margin-x {
    margin-left: 8px;
    margin-right: 8px;
}

.margin-y {
    margin-top: 8px;
    margin-bottom: 8px;
}

.padding-y-64 {
    padding-bottom: 64px;
    padding-top: 64px;
}

.padding-y-32 {
    padding-bottom: 32px;
    padding-top: 32px;
}

.padding-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-y {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-x-64 {
    padding-left: 64px;
    padding-right: 64px;
}

.padding-x-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-x-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-x {
    padding-left: 8px;
    padding-right: 8px;
}

.text-gray {
    color: gray;
}

.text-large {
    font-size: 18px;
}

.text-small {
    font-size: 12px;
}

.text-xlarge {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}

.text-crossed {
    text-decoration: line-through;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
}