.active {
    color: black;
}

.align-children-center {
    display: flex;
    align-items: center;
}

.black {
    background-color: black;
    color: white;
}

.border {
    border: 1px solid #ededed;
}

.button-denied {
    background-color: red;
}

    .button-denied:active {
        animation-name: denied;
        animation-duration: 0.5s;
    }

.button-fit {
    width: fit-content;
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    background-color: rgb(76, 180, 76);
    color: white
}

    .button-fit:hover {
        background-color: rgb(56, 160, 56);
    }

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gray {
    background-color: rgb(242, 242, 242);
    color: black;
}

.hide-element {
    display: none;
}

.hover-to-black {
    transition: 0.2s;
}

    .hover-to-black:hover {
        color: black;
    }

.hover-to-black-bg {
    transition: 0.2s;
}

    .hover-to-black-bg:hover {
        background-color: rgb(212, 212, 212);
        color: black;
    }

.input-text {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.margin-x {
    margin-left: 8px;
    margin-right: 8px;
}

.margin-y {
    margin-top: 8px;
    margin-bottom: 8px;
}

.padding-x {
    padding-left: 8px;
    padding-right: 8px;
}

.padding-x-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-x-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.padding-x-64 {
    padding-left: 64px;
    padding-right: 64px;
}

.padding-y {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding-y-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.padding-y-32 {
    padding-bottom: 32px;
    padding-top: 32px;
}

.padding-y-64 {
    padding-bottom: 64px;
    padding-top: 64px;
}

.text-red {
    color: red;
}

.text-gray {
    color: gray;
}

.text-large {
    font-size: 18px;
}

.text-medium {
    font-size: 15px;
}

.text-small {
    font-size: 12px;
}

.text-xlarge {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}

.text-crossed {
    text-decoration: line-through;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.width-100 {
    width: 100%;
}

.white {
    background-color: white;
    color: black;
}

@keyframes denied {
    0% {
        background-color: rgb(56, 160, 56);
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: rgb(56, 160, 56);
    }
}
