@media (min-width: 768px) {
    .product-flex-item {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
}

@media (min-width: 993px) {
    .sidebar {
        display: block;
        position: sticky;
        top: 0;
    }

    .top-menu-menu {
         display: none;
    }
    header {
        position: static;
    }
}

@media (min-width: 1200px) {
    .product-flex-item {
        flex-basis: 25%;
        max-width: 25%;
    }
}