.active {
    color: black;
}

.overlay {
    position: fixed;
    display: none;
    padding-top: 135px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
}

    .overlay img {
        margin: auto;
        width: 100%;
        max-width: 700px;
    }

.overlay-close-button {
    position: absolute;
    top: 85px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .overlay-close-button:hover,
    .overlay-close-button:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }


.product-table {
    width: 100%;
    background: white;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

.product-table th {
    height: 50px;
}

.product-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.product-table tfoot th {
    text-align: right;
}

.product-table th, .product-table td {
    border-bottom: 1px solid #d9d9d9;
}

[class^="product-grid-item"] {
    background: white;
}

.input-text {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {

    table thead {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }

    table td {
        display: block;
        padding-left: 8px;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}