.button-cart-table {
    background: white;
    color: gray;
    border: none;
    transition: 0.1s;
}

    .button-cart-table:hover {
        color: black;
        cursor: pointer;
        background: #d9d9d9;
        border-radius: 20%;
    }
