.button-denied {
    background-color: red;
}

    .button-denied:active {
        animation-name: denied;
        animation-duration: 0.5s;
    }


@keyframes denied {
    0% {
        background-color: rgb(56, 160, 56);
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: rgb(56, 160, 56);
    }
}