@page "/checkout"
@inject ICounterService CounterService
@inject IApiService WebshopApiService
@inject ICartService CartService
@inject NavigationManager NavigationManager

<PageTitle>Checkout</PageTitle>
<PageHeading>Checkout</PageHeading>

@if (_showOrderConfirmation)
{
    <AuthorizeView>
        @if (_order!.Valid)
        {
            <OrderDetails Order="_order" UserDetails="_userDetails" />
        }
        else
        {
            <ImportantInfoBox>
                <ul>
                    @foreach (var error in _order.Errors)
                    {
                        <li class="text-red">@error</li>
                    }
                </ul>
            </ImportantInfoBox>
        }
    </AuthorizeView>
}
else
{
    <Cart OnEmptyCart="ChangePlaceOrderButtonStyle" />

    <AuthorizeView>
        <Authorized>

            @if (_userDetailsFormShown)
            {
                <ImportantInfoBox>Please comfirm your shipping details</ImportantInfoBox>
                <UserDetailsForm OnFormSubmit="PrepareOrder" />
            }
            else
            {
                <div class="padding-x padding-y white border">
                    <button type="button" class="button-fit padding-x padding-y text-large" @onclick="ShowUserDetailsForm">Show form</button>
                </div>
                <div class="padding-x padding-y white border">
                    <button type="button" class="button-fit padding-x padding-y text-large @_placeOrderButtonStyle" @onclick="PlaceOrder">Place order</button>
                </div>
            }

            @if (_orderErrorMessage is not null)
            {
                <ImportantInfoBox>
                    <h4>Order failed</h4>

                    <ul class="error-list text-red">
                        @foreach (var error in _orderErrors)
                        {
                            <li>@error</li>
                        }
                        <li>@_orderErrorMessage</li>
                    </ul>
                    
                    <p>Please try again</p>
                </ImportantInfoBox>
            }

        </Authorized>
        <NotAuthorized>

            <ImportantInfoBox>Please log in to continue</ImportantInfoBox>
            <LoginBox OnLogin="() => NavigationManager.Refresh(true)" />

        </NotAuthorized>
    </AuthorizeView>
}

@code {
    private UserDetailsDto? _userDetails;
    private string? _orderErrorMessage;
    private List<string> _orderErrors = [];
    private OrderDto? _order;
    private bool _userDetailsFormShown = true;
    private bool _showOrderConfirmation;
    private string _placeOrderButtonStyle = string.Empty;

    private async Task PrepareOrder(UserDetailsDto userDetails)
    {
        var result = await WebshopApiService.PutAsync<UserDetailsDto, UserDetailsDto>(WebshopApiEndpoints.PutUser, userDetails);

        if (result.IsSuccess)
        {
            _userDetails = result.Data;
            _userDetailsFormShown = false;
        }
    }

    private async Task PlaceOrder()
    {
        var cart = await CartService.GetCart();
        if (!cart.Any()) return;

        var order = new PlaceOrderDto { CartItems = cart };
        var orderResult = await WebshopApiService.PostAsync<OrderDto, PlaceOrderDto>(WebshopApiEndpoints.PostOrder, order);

        if (!orderResult.IsSuccess)
        {
            _orderErrorMessage = orderResult.ErrorMessage;
            _orderErrors = orderResult.Data?.Errors ?? [];
        }
        else
        {
            _order = orderResult.Data;

            if (_order is not null && _order.Valid)
            {
                await WebshopApiService.PutAsync<CartDto, List<CartItemDto>>(WebshopApiEndpoints.PutCart, []);
                await CartService.ClearCart();
                CounterService.SetCount(0);
            }

            _showOrderConfirmation = true;
        }
    }

    private void ShowUserDetailsForm()
    {
        _userDetailsFormShown = !_userDetailsFormShown;
    }

    private void ChangePlaceOrderButtonStyle()
    {
        _placeOrderButtonStyle = "button-denied ";
    }

}
