<div class="boardgame-properties padding-y">
    <div>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>@Boardgame.MinPlayers - @Boardgame.MaxPlayers Players</span>
    </div>
    <div>
        <i class="fa fa-clock" aria-hidden="true"></i>
        <span>@Boardgame.PlayTime min</span>
    </div>
    <div>
        <i class="fa fa-id-card" aria-hidden="true"></i>
        <span>From @Boardgame.MinAge years old</span>
    </div>
</div>

@code {
    [Parameter] public required BoardgameDto Boardgame { get; set; }
}
