@page "/product/{ArtNr}"
@using WebshopFrontend.Contracts
@inject IProductService ProductService

@if (_boardgame == null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>@_boardgame.Product.Name</PageTitle>

    <div class="product-grid-container">
        <ProductHeading Product="_boardgame.Product"></ProductHeading>
        <ProductImages Product="_boardgame.Product"></ProductImages>
        <ProductPrice Product="_boardgame.Product"></ProductPrice>
        <BoardgameDetails Boardgame="_boardgame"></BoardgameDetails>
        <ProductStock Product="_boardgame.Product"></ProductStock>
    </div>
}

@code {
    [Parameter] public required string ArtNr { get; set; }

    private BoardgameDto? _boardgame;

    protected override async Task OnInitializedAsync()
    {
        _boardgame = await ProductService.GetBoardgameByArtNr(ArtNr);
    }
}
