@inherits LayoutComponentBase

<div class="topbar black text-xlarge padding-x-16">
    <TopMenu OnShowSidebar="ShowSidebar"></TopMenu>
</div>

<div class="sidebar white padding-x-16" style="@DisplayStyle">
    <NavMenu SideBarShown="@_sideBarShown" OnHideSideBar="ShowSidebar"></NavMenu>
</div>

<div class="overlay" style="@DisplayStyle" @onclick="ShowSidebar">

</div>

<div class="main">
    @Body
</div>

@code {
    public string DisplayStyle = string.Empty;
    private bool _sideBarShown;

    public void ShowSidebar(MouseEventArgs e)
    {
        DisplayStyle = (DisplayStyle == string.Empty) ? "display: block;" : string.Empty;
        _sideBarShown = (!_sideBarShown);
    }
}









