@rendermode InteractiveServer
@using WebshopFrontend.Components.Components

@if (SideBarShown) {
    <div class="top-menu-nav-item right" @onclick="OnHideSideBar">
        X
    </div> 
}

<div class="nav-menu text-gray padding-y text-large">
    
    <NavLink class="nav-item padding-x padding-y" href="checkout">Checkout</NavLink>
    <NavLink class="nav-item padding-x padding-y" href="products">Products</NavLink>
    <NavLink class="nav-item padding-x padding-y" href="newuser">New User</NavLink>
    <NavLink class="nav-item padding-x padding-y" href="profile">Profile</NavLink>

</div>

@code {
    [Parameter] public bool SideBarShown { get; set; } = false;
    [Parameter] public EventCallback<MouseEventArgs> OnHideSideBar { get; set; }

}


