@rendermode InteractiveServer
<div class="left text-xlarge padding-y padding-x">
    LOGO
</div>
<a class="right top-menu-nav-item padding-y" @onclick="OnShowSidebar">|||</a>


@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnShowSidebar { get; set; }
}
