@using WebshopFrontend.Components.Components
@rendermode InteractiveServer

<div class="text-xlarge top-menu">
    <div class="padding-x">
        LOGO
    </div>

    <div class="top-menu-search padding-x">
        <input class="center-verticaly" type="text" />
    </div>

    <div class="padding-x">
        <CartIcon></CartIcon>
    </div>

    <div class="top-menu-menu padding-x">
        <a @onclick="OnShowSidebar">
            <div>
                <img src="Icons\menu-symbol-of-three-parallel-lines-svgrepo-com - Copy.svg" alt="Menu" />
            </div>
        </a>
    </div>
</div>



@code {

    [Parameter]
    public EventCallback<MouseEventArgs> OnShowSidebar { get; set; }
}
