@page "/checkout"
@using WebshopShared.Validation
@inject NavigationManager NavigationManager
@inject ICartService CartService
@inject IOrderService OrderService
@inject IUserService UserService

<h3>Checkout</h3>

<div class="checkout-table-container">
    <CheckoutProductTable />
</div>

<AuthorizeView>
    <Authorized>
        <div>
            <UserDetailsForm OnFormSubmit="OnFormSubmitted" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <p>Please log in to continue</p>
            <LoginBox />
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {

    private async Task OnFormSubmitted(UserDetails userDetails)
    {
        await UserService.UpdateUserDetails(userDetails);
        var order = OrderService.PlaceOrder();
        NavigationManager.NavigateTo($"/orderconfirmation/{order.Id}");
    }
}
