@page "/checkout"
@inject NavigationManager NavigationManager
@inject ICartService CartService
@inject IOrderService OrderService

<h3>Checkout</h3>

<div class="checkout-table-container">
    <CheckoutProductTable />
</div>

<div>
    <CheckoutForm OnFormSubmit="OnFormSubmitted" />
</div>

@code {
    private OrderDto _order;

    private async Task OnFormSubmitted(UserDto user)
    {
        await CreateOrder(user);
        await CartService.ClearCart(user.Id);
        await OrderService.AddOrder(_order);
        NavigationManager.NavigateTo("/orderconfirmation");
    }

    private async Task CreateOrder(UserDto user)
    {
        _order = new OrderDto
            {
                Id = 1,
                User = user,
                CartItems = await CartService.GetAll(user.Id),
                OrderDate = DateTime.Now
            };
    }
}
