@page "/checkout"
@using WebshopFrontend.Components.Components

<h3>Checkout</h3>

<div class="checkout-table-container">
    <CheckoutProductTable />
</div>

<div>
    <CheckoutForm />
</div>

@code {
    
}
