@page "/product/{ArtNr}"
@rendermode InteractiveServer
@using WebshopFrontend.Components.Components
@using WebshopFrontend.Services.Interfaces
@inject IBoardgameService BoardgameService

@if (_boardgame == null)
{
    <p>Loading...</p>
}
else
{
    <div class="product-grid-container">
        <ProductHeading Boardgame="_boardgame"></ProductHeading>
        <ProductImages Product="_boardgame.Product"></ProductImages>
        <ProductPrice Product="_boardgame.Product"></ProductPrice>
        <BoardgameDetails Boardgame="_boardgame"></BoardgameDetails>
        <ProductStock Product="_boardgame.Product"></ProductStock>
    </div>
}

@code {
    [Parameter] public required string ArtNr { get; set; }

    private BoardgameDto? _boardgame;

    protected override async Task OnInitializedAsync()
    {
        _boardgame = await BoardgameService.GetBoardgameByArtNr(ArtNr);
    }
}
