.product-grid-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "product"
        "image"
        "description"
        "price"
        "stock";
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto auto auto;
    border: 1px solid #ededed;
}

@media (min-width: 768px) {
    .product-grid-container {
        grid-template-areas:
            "product product"
            "image price"
            "image price"
            "description stock"
            "description stock";
        grid-template-columns: 8fr minmax(200px, 6fr);
        grid-template-rows: 80px auto auto auto auto;
    }
}
