@page "/products"
@rendermode InteractiveServer
@using WebshopFrontend.Components.Components
@inject IHttpClientFactory Http


<div class="product-flex-container">

    @if (_boardgames == null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (var boardgame in _boardgames)
        {
            <ProductPreview Boardgame="boardgame" />
        }  
    }
</div>

@code {

    private List<BoardgameDto>? _boardgames = new List<BoardgameDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        using var client = Http.CreateClient("WebshopMinimalApi");
        _boardgames = await client.GetFromJsonAsync<List<BoardgameDto>>("products");
    }
}

