@page "/product/{ArtNr}"
@rendermode InteractiveServer
@using WebshopFrontend.Components.Components
@inject IHttpClientFactory Http

@if (_boardgame == null)
{
    <p>Loading...</p>
}
else
{
    <div class="product-grid-container">
        <ProductHeading Boardgame="_boardgame"></ProductHeading>
        <ProductImages Boardgame="_boardgame"></ProductImages>
        <ProductPrice Boardgame="_boardgame"></ProductPrice>
        <ProductDetails Boardgame="_boardgame"></ProductDetails>
        <ProductStock Boardgame="_boardgame"></ProductStock>
    </div>
}

@code {
    [Parameter] public required string ArtNr { get; set; }

    private BoardgameDto? _boardgame;

    protected override async Task OnInitializedAsync()
    {
        await LoadProduct();
    }

    private async Task LoadProduct()
    {
        using var client = Http.CreateClient("WebshopMinimalApi");
        _boardgame = await client.GetFromJsonAsync<BoardgameDto>($"products/article/{ArtNr}");
    }
}
