@page "/products"
@rendermode InteractiveServer
@using System.Reflection.Metadata.Ecma335
@using WebshopFrontend.Components.Components
@inject IHttpClientFactory Http


<div class="product-flex-container">

    @if (_products == null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (var product in _products)
        {
            <ProductPreview Product="product" />
        }  
    }
</div>

@code {

    private List<ProductDto>? _products;

    protected override async Task OnInitializedAsync()
    {
        await LoadBoardgames();
    }

    private async Task LoadBoardgames()
    {
        using var client = Http.CreateClient("WebshopMinimalApi");
        _products = await client.GetFromJsonAsync<List<ProductDto>>("/products");
    }
}

