@page "/products"
@rendermode InteractiveServer
@using System.Reflection.Metadata.Ecma335
@using WebshopFrontend.Components.Components
@inject IHttpClientFactory Http


<div class="product-flex-container">

    @if (_boardgames == null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (var product in _products)
        {
            <ProductPreview Product="product" />
        }  
    }
</div>

@code {

    private List<BoardgameDto>? _boardgames;
    private List<IProduct> _products = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadBoardgames();
        GetProducts();
    }

    private void GetProducts()
    {
        if (_boardgames == null) return;
        foreach (var boardgame in _boardgames)
        {
            _products.Add(boardgame);
        }
    }

    private async Task LoadBoardgames()
    {
        using var client = Http.CreateClient("WebshopMinimalApi");
        _boardgames = await client.GetFromJsonAsync<List<BoardgameDto>>("products");
    }
}

