@page "/product/{ArtNr}"
@rendermode InteractiveServer
@using WebshopFrontend.Components.Components
@inject IHttpClientFactory Http

@if (_boardgame == null)
{
    <p>Loading...</p>
}
else
{
    <div class="product-grid-container">
        <ProductHeading Product="_boardgame"></ProductHeading>
        <ProductImages Product="_boardgame"></ProductImages>
        <ProductPrice Product="_boardgame"></ProductPrice>
        <BoardgameDetails Boardgame="_boardgame"></BoardgameDetails>
        <ProductStock Product="_boardgame"></ProductStock>
    </div>
}

@code {
    [Parameter] public required string ArtNr { get; set; }

    private BoardgameDto? _boardgame;

    protected override async Task OnInitializedAsync()
    {
        await LoadBoardgame();
    }

    private async Task LoadBoardgame()
    {
        using var client = Http.CreateClient("WebshopMinimalApi");
        _boardgame = await client.GetFromJsonAsync<BoardgameDto>($"products/article/{ArtNr}");
    }
}
