@page "/products"
@rendermode InteractiveServer
@using WebshopFrontend.Components.Components
@inject IHttpClientFactory Http


<div class="product-flex-container">

    @if (_products == null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (var product in _products)
        {
        <ProductPreview Product="product" />
        }  
    }
</div>

@code {

    private List<Product>? _products = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        using var client = Http.CreateClient("WebshopMinimalApi");
        _products = await client.GetFromJsonAsync<List<Product>>("products");
    }
}

