.button-cart {
    width: 100%;
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    border: 0;
}

.button-color-green {
    background-color: rgb(76, 180, 76);
    color: white;
}

    .button-color-green:hover {
        background-color: rgb(56, 160, 56);
    }

.button-color-yellow {
    background-color: rgb(255, 165, 0);
    color: white;
}

    .button-color-yellow:hover {
        background-color: rgb(255, 145, 0);
    }
