.cart-badge:after {
    content: attr(value);
    font-size: 14px;
    color: white;
    background: gray;
    border-radius: 10%;
    padding: 3px 3px;
    position: relative;
    left: -50px;
    top: -4px;
}

.cart-badge span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hover-to-black {
    transition: 0.2s;
}

    .hover-to-black :hover {
        color: black;
    }
