@inject ICounterService CounterService
@inject ICartService CartService

<NavLink href="checkout" class="text-gray">
    <div class="hover-to-black align-children-center">
        <div class="cart-badge text-medium text-bold">
            @_noOfItemsInCart
        </div>
        <i class="fa fa-shopping-cart"></i>
    </div>
</NavLink>

@code {
    private int _noOfItemsInCart = 0;

    protected override void OnInitialized()
    {
        CounterService.CounterChanged += UpdateCartCounter;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var cart = await CartService.GetCart();
            CounterService.SetCount(cart.Sum(c => c.Quantity));
        }
    }

    private async void UpdateCartCounter(object? sender, int newCount)
    {
        try
        {
            await InvokeAsync(() =>
            {
                _noOfItemsInCart = newCount;
                StateHasChanged();
            });
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
