.exchange-rate-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center
}

    .exchange-rate-selector select {
        height: 25px;
    }

.align-children-center {
    display: flex;
    align-items: center;
}
