@inject IExchangeRateService ExchangeRateService

<div class="text-small exchange-rate-selector">
    <label for="currency" class="padding-x align-children-center">Currency: </label>
    <select class="" id="currency" @bind="SelectedCurrency" @bind:after="ChangeRate">
        @foreach (var currency in ExchangeRates.Keys)
        {
            <option value="@currency">@currency</option>
        }
    </select>
</div>

@code {

    private string SelectedCurrency { get; set; } = string.Empty;
    private Dictionary<string, decimal> ExchangeRates { get; set; } = [];

    protected override void OnInitialized()
    {
        SelectedCurrency = ExchangeRateService.GetCurrentRate().Key;
        ExchangeRates = ExchangeRateService.GetExchangeRates();
    }

    private void ChangeRate()
    {
        ExchangeRateService.SetCurrentRate(new KeyValuePair<string, decimal>(SelectedCurrency, ExchangeRates[SelectedCurrency]));
        
    }
}
