@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICounterService CounterService
@inject IApiService WebshopApiService
@inject ICartService CartService

<button @onclick="Logout"
type="button"
class="button-fit padding-x padding-y text-large">
    Log out
</button>
@code {

    private async Task Logout()
    {
        var localCart = await CartService.GetCart();
        await WebshopApiService.PutAsync<CartDto, List<CartItemDto>>(WebshopApiEndpoints.PutCart, localCart);
        await CartService.ClearCart();

        CounterService.SetCount(0);

        await ((TokenAuthenticationStateProvider)AuthenticationStateProvider).LogoutAsync();
    }
}
