@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ICounterService CounterService

<button @onclick="Logout"
type="button"
class="button-fit padding-x padding-y text-large">
    Log out
</button>
@code {
    [Inject(Key = "Local")] public ICartService LocalCartService { get; set; } = null!;
    [Inject(Key = "Api")] public ICartService ApiCartService { get; set; } = null!;

    private async Task Logout()
    {
        var localCart = await LocalCartService.GetCart();
        await ApiCartService.UpdateCart(localCart);
        await LocalCartService.ClearCart();

        CounterService.SetCount(0);

        await ((CookieAuthenticationStateProvider)AuthenticationStateProvider).LogoutAsync();
    }
}
