.nav-menu-item {
    width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-menu-icon {
    width: 37px;
}

.hover-to-black-bg {
    transition: 0.1s;
}

    .hover-to-black-bg:hover {
        background-color: rgb(212, 212, 212);
        color: black;
    }
