.form-flex-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.form-flex-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 8px;
}

.form-flex-item {
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .form-flex-row {
        flex-direction: row;
    }

    .form-flex-item {
        flex-basis: 33%;
        max-width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 8px;
    }

        .form-flex-item:nth-child(1) {
            flex-basis: 15%;
            max-width: 15%;
        }
}
