@using WebshopFrontend.EventHandlers
@rendermode InteractiveServer
@inject IJSRuntime Js
@inject NotifyCartUpdated NotifyCartUpdated

@if (Boardgame.Stock.Quantity > 0)
{
<a @onclick="AddToCart" class="text-center text-xlarge text-bold button-buy button-block">
    Buy
</a>
}
else
{
<a class="text-center text-xlarge text-bold button-reserve button-block">
    Reserve
</a>
}


@code {
    [Parameter] public required BoardgameDto Boardgame { get; set; }

    private async Task AddToCart()
    {
        await Js.InvokeVoidAsync("AddProductToLocalStorage", Boardgame.ArtNr);
        NotifyCartUpdated.NotifyCartUpdate(this);
    }
}
