@inject IJSRuntime Js
@inject ICounterService CartCounterService
@inject ICartService CartService
@inject IUserService UserService

<button class="@GetButtonClasses()" @onclick="AddToCart">
    <span>@GetButtonText()</span>
</button>

@code {
    [Parameter] public required int ProductId { get; set; }
    [Parameter] public required int Stock { get; set; }

    private const int Quantity = 1;

    private async Task AddToCart()
    {
        var cartItem = await CartService.AddItem(ProductId, Quantity);
        if (cartItem.Id != 0) CartCounterService.AddToCount(Quantity);
    }

    private string GetButtonText() => Stock > 0 ? "Buy" : "Reserve";

    private string GetButtonClasses()
    {
        const string defaultClasses = "text-center text-xlarge text-bold button-block";
        var addedClass = Stock > 0 ? " button-buy" : " button-reserve";

        return defaultClasses + addedClass;
    }


}
