@using WebshopFrontend.EventHandlers
@rendermode InteractiveServer
@inject IJSRuntime Js
@inject NotifyCartUpdated NotifyCartUpdated

<button class="@GetButtonClasses()" @onclick="AddToCart">
    <span>@GetButtonText()</span>
</button>

@code {
    [Parameter] public required BoardgameDto Boardgame { get; set; }

    private async Task AddToCart()
    {
        await Js.InvokeVoidAsync("AddProductToLocalStorage", Boardgame.ArtNr);
        NotifyCartUpdated.NotifyCartUpdate(this);
    }

    private string GetButtonText() => Boardgame.Stock.Quantity > 0 ? "Buy" : "Reserve";

    private string GetButtonClasses()
    {
        const string defaultClasses = "text-center text-xlarge text-bold button-block";
        var addedClass = Boardgame.Stock.Quantity > 0 ? " button-buy" : " button-reserve";

        return defaultClasses + addedClass;
    }
}
