<div class="product-grid-item-description padding-x padding-y">
    <hr/>
    <BoardgameProperties Boardgame="@Boardgame"></BoardgameProperties>
    <hr/>
    <p class="padding-y">@Boardgame.BoardgameDetails.Description</p>
</div>

@code {
    [Parameter] public required BoardgameDto Boardgame { get; set; }
}