@inject ICounterService CounterService
@inject ICartService CartService

<NavLink href="checkout" class="text-gray">
    <div class="cart">
        <i class="fa badge fa-lg" style="font-size: 24px;" value="@_noOfItemsInCart">&#xf07a;</i>
    </div>
</NavLink>

@code {
    private int _noOfItemsInCart = 0;

    protected override void OnInitialized()
    {
        CounterService.CounterChanged += UpdateCartCounter;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var cart = await CartService.GetAll();
            CounterService.SetCount(cart.Sum(c => c.Quantity));
            _noOfItemsInCart = CounterService.GetCount();
        }
    }

    private async void UpdateCartCounter(object? sender, int newCount)
    {
        await InvokeAsync(() =>
        {
            _noOfItemsInCart = newCount;
            StateHasChanged();
        });
    }

}
