@inject IUserService UserService

<AuthorizeView>
    <Authorized>
        <div>You're logged in as @context.User.Identity?.Name.</div>
    </Authorized>
    <NotAuthorized>
        <label for="email">
            Email:
            <InputText id="email" @bind-value="@_loginDto.Email"></InputText>
        </label>
        <label for="password">
            Password:
            <InputText id="password" type="password" @bind-value="@_loginDto.Password"></InputText>
        </label>
        <button type="button" @onclick="LogIn">Log In</button>

        @foreach (var error in _registerLoginResponseDto.ErrorList)
        {
            <div>@error</div>
        }
    </NotAuthorized>
</AuthorizeView>

@code {
    private LoginDto _loginDto = new();
    private RegisterLoginResponseDto _registerLoginResponseDto = new();

    [Parameter] public EventCallback OnLogin { get; set; }

    private async Task LogIn()
    {
        _registerLoginResponseDto = await UserService.LoginAsync(_loginDto);

        if (_registerLoginResponseDto.Succeeded)
        {
            await OnLogin.InvokeAsync();
        }
    }

}
