.checkout-table {
    width: 100%;
    background: white;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

.checkout-table th {
    height: 50px;
}

.checkout-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.checkout-table tfoot th {
    text-align: right;
}

.checkout-table th, .checkout-table td {
    border-bottom: 1px solid #d9d9d9;
}

.checkout-table-button {
    background: white;
    color: gray;
    border: none;
    transition: 0.1s;
}

.checkout-table-button:hover {
    color: black;
    cursor: pointer;
    background: #d9d9d9;
    border-radius: 20%;
}


@media screen and (max-width: 600px) {

    table thead {
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }

    table td {
        display: block;
        padding-left: 8px;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}