@using WebshopFrontend.Components.Components

<div class="product-grid-item-price padding-x padding-y">
    @if (Product.Price.Discount != null)
    {
        <div>
            <h3>Special Offer</h3>
            <div class="text-gray">
                <span>From: @Product.Price.Discount.StartDate.ToShortDateString()</span><br />
                <span>To: @Product.Price.Discount.EndDate.ToShortDateString()</span>
            </div>

        </div>
    }
    <div>
        <Price Product="Product" FontSizePx="40"></Price>
    </div>

    <AddToCartButton ProductId="Product.Id" Stock="Product.Stock.Quantity"></AddToCartButton>
</div>

@code {
    [Parameter] public required ProductDto Product { get; set; }

}