@rendermode InteractiveServer

<div class="product-flex-item white padding-y-16 padding-x-16">
    <NavLink href="@ProductHref" class="white">
        <div>
            <img src="@Product.Image.ImageSmallUrl" alt="@Product.Image.ImageText"/>
            <span>@Product.Name</span>
        </div>

        <div class="product-preview-bottom">
            <div>
                <Price Product="Product" FontSizePx="15"></Price>
            </div>

            <div>
                <span>Stock:@(Product.Stock.Quantity)</span>
            </div>

        </div>
    </NavLink>

    <div>
        <AddToCartButton ProductId="Product.Id" Stock="Product.Stock.Quantity"></AddToCartButton>
    </div>


</div>

@code {
    [Parameter] public required IProduct Product { get; set; }

    private string ProductHref => $"product/{Product.ArtNr}";

}
