<div class="product-grid-item-product padding-x padding-y">
    <h1>@Product.Name</h1>
    <hr/>
    <div class="text-gray">
        <span>@Product.ArtNr</span>
        <span>@Product.Publisher.Name</span>
    </div>
</div>

@code {
    [Parameter] public required IProduct Product { get; set; }
}