<div class="product-grid-item-stock padding-x padding-y">
    <span>Stock: @Product.Stock.Quantity</span>
    @if (Product.Stock.NextRestock == null)
    {
        <div>
            <span>Next restock: N/A</span>
        </div>
    }
    else
    {
        <div>
            <span>Next restock: @Product.Stock.NextRestock.RestockDate.ToShortDateString()</span>
            <br />
            <span>Quantity: @Product.Stock.NextRestock.Quantity</span>
        </div>
    }
</div>

@code {
    [Parameter] public required IProduct Product { get; set; }
}