<div class="product-grid-item-product padding-x padding-y">
    <h1>@Product.Name</h1>
    <hr/>
    <div class="text-gray">
        <span>@Product.ArtNr</span>
    </div>
</div>

@code {
    [Parameter] public required ProductDto Product { get; set; }
}