@rendermode InteractiveServer

<div class="product-flex-item white padding-y-16 padding-x-16">
    <NavLink href="@ProductHref" class="white">
        <div>
            <img src="@Boardgame.Image.ImageSmallUrl" alt="@Boardgame.Image.ImageText"/>
            <span>@Boardgame.Name</span>
        </div>

        <div class="product-preview-bottom">
            <div>
                <Price Boardgame="Boardgame" FontSizePx="15"></Price>
            </div>

            <div>
                <span>Stock:@(Boardgame.Stock.Quantity)</span>
            </div>

        </div>
    </NavLink>

    <div>
        <AddToCartButton Boardgame="Boardgame"></AddToCartButton>
    </div>


</div>

@code {
    [Parameter] public required BoardgameDto Boardgame { get; set; }

    private string ProductHref => $"product/{Boardgame.ArtNr}";

}
